@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-Black: hsl(0, 0%, 0%);
  --color-Gray-500: hsl(0,0%,48%);
  --color-Green-400: hsl(176, 50%, 47%);
  --color-Green-700: hsl(176, 72%, 28%);
}

body{
    font-family: "Commissioner", sans-serif;
}